<h2>Edit Contact</h2>


<%= form_for @contact do |form_builder| %>

  <p>
    <%= form_builder.label :first_name, :class => "label" %>
    <%= form_builder.text_field :first_name, :class => "input" %>
  </p>

  <p>
    <%= form_builder.label :last_name, :class => "label" %>
    <%= form_builder.text_field :last_name, :class => "input" %>
  </p>

  <p>
    <%= form_builder.label :email, :class => "label" %>
    <%= form_builder.text_field :email, :class => "input" %>
  </p>

  <p>
    <%= form_builder.label :note, :class => "label" %>
    <%= form_builder.text_field :note, :class => "input" %>
  </p>

  <p>
    <%= form_builder.label :phone_number, :class => "label" %>
    <%= form_builder.number_field :phone_number, :class => "input" %>
  </p>

  <%= form_builder.submit %>
  <% end %>




<!-- <form class="searchbar" class="form" action="/contacts/<%= @contact.id %>" method="post">
  <input class="input" type="hidden" name="_method" value="put">

	<p>
		<label class="label" class="edit" for="first_name">First Name</label>
  	<input class="input" type="text" name="first_name" value="<%= @contact.first_name %>">
  </p>

  <p>
  	<label class="label" class="edit" for="last_name">Last Name</label>
  	<input class="input" type="text" name="last_name" value="<%= @contact.last_name %>">
  </p>

	<p>
  	<label class="label" class="edit" for="email">Email</label>
  	<input class="input" type="text" name="email" value="<%= @contact.email %>">
  </p>

	<p>
  <label class="label" class="edit" for="note">Note</label>
  <input class="input" type="text" name="note" value="<%= @contact.note %>">
  </p>

  <p>
  <label class="label" class="edit" for="phone_number">Phone</label>
  <input class="input" type="text" name="phone_number" value="<%= @contact.phone_number %>">
  </p>

  <input class="input" type="submit" name="Submit">
</form> -->
